@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&display=swap");

.main-container h2 {
  margin: 32px 5% 12px;
  color: #fff595;
}

.movies-container {
  margin: 0 5%;
}

.movies-container-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.movies-container-buttons button {
  padding: 12px 24px;
  background-color: #735cdd;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

.movies-container-buttons button:hover {
  background-color: #6349d6;
}

.movies-carousel {
  background-color: #000c15;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 96px 0 48px;
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  overflow: hidden;
  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}

.movies-carousel li img {
  height: 360px;
  margin: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: 2px solid #222;
  cursor: pointer;
  transition: 0.3s;
}

.movies-carousel li img:hover {
  transform: scale(1.0125);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid #fd7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Unbounded", cursive;
  letter-spacing: 0.05rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000f18;
  color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
