@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700&display=swap");

.main-container {
  margin: 32px 5%;
}

.main-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 64px 0;
  color: #f5f5f5;
}

.main-container h2 {
  margin: 64px 0 12px;
  color: #fff595;
}

.movies-container-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.movies-container-buttons button,
.movies-search button {
  padding: 12px 24px;
  background-color: #735cdd;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

.movies-container-buttons button:hover,
.movies-search button:hover {
  background-color: #6349d6;
}

.movies-carousel {
  background-color: #000c15;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 96px 0 48px;
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  overflow: hidden;
  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}

.movies-carousel li img,
.movies-results-container li img {
  height: 360px;
  margin: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: 2px solid #222;
  cursor: pointer;
  transition: 0.3s;
}

.movies-carousel li img:hover,
.movies-results-container li img:hover {
  transform: scale(1.0125);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid #fd7;
}

.image-placeholder {
  width: 238px;
  height: 357px;
  background-image: linear-gradient(90deg, #eee 0px, #fff 50%, #eee 100%);
  background-color: #eee;
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  from {
    background-position: 0px;
  }
  to {
    background-position: -200%;
  }
}

.movies-search {
  min-height: 720px;
}

.movies-search form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.movies-search input {
  padding: 8px;
  font-size: 1.25rem;
  border-radius: 4px;
  border: 1px solid #222;
  transition: 0.3s;
}

.movies-search input:hover {
  border: 1px solid #6349d6;
}

.movies-search button {
  padding: 8px 18px;
  font-size: 1.125rem;
}

.movies-search p {
  margin: 8px 0;
  font-size: 1.125rem;
}

.movies-results-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.movies-results-container li img {
  height: 320px;
  margin: 8px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: 2px solid #222;
  cursor: pointer;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Unbounded", cursive;
  letter-spacing: 0.05rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000f18;
  color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 0 64px;
  font-size: 1.25rem;
}

footer a {
  color: #fd7;
  font-weight: 500;
  transition: 0.3s;
}

footer a:hover {
  color: #ffd943;
}

@media (max-width: 510px) {
  .movies-results-container {
    gap: 8px;
  }

  .movies-results-container li img {
    height: 240px;
    margin: 0;
  }
}
